<div class="center-wrapper">
<div class="register-container">
  <h2>Register</h2>

  <form #regForm="ngForm" (ngSubmit)="onRegister(regForm)">

    <!-- Full Name -->
    <div class="form-group">
      <label>Full Name <span class="required">*</span></label>

      <input 
        type="text"
        name="fullName"
        [(ngModel)]="fullName"
        required
        minlength="3"
        maxlength="30"
        #fullNameCtrl="ngModel"
        (blur)="fullName = fullName.trim(); fullNameCtrl.control.markAsTouched()"
      />

      <p class="error" *ngIf="fullNameCtrl.touched && fullNameCtrl.errors?.['required']">
        Full Name is required
      </p>

      <p class="error" *ngIf="fullNameCtrl.touched && fullNameCtrl.errors?.['minlength']">
        Minimum 3 characters required
      </p>

      <p class="error" *ngIf="fullNameCtrl.touched && fullNameCtrl.errors?.['maxlength']">
        Maximum 30 characters allowed
      </p>
    </div>

    <!-- EMAIL -->
    <div class="form-group">
      <label>Email <span class="required">*</span></label>

      <input 
        type="email"
        name="email"
        [(ngModel)]="email"
        required
        email
        (input)="clearEmailError()"
        #emailCtrl="ngModel"
        (blur)="email=email.trim(); emailCtrl.control.markAsTouched()"
      />

      <p class="error" *ngIf="emailCtrl.touched && emailCtrl.errors?.['required']">
        Email is required
      </p><p class="error">{{ errorMessage }}</p>

      <p class="error" *ngIf="emailCtrl.touched && emailCtrl.errors?.['email']">
        Invalid email format
      </p>
    </div>

    <!-- PASSWORD -->
    <div class="form-group">
      <label>Password <span class="required">*</span></label>

      <input 
        type="password"
        name="password"
        [(ngModel)]="password"
        required
        minlength="6"
        #passCtrl="ngModel"
      />

      <p class="error" *ngIf="passCtrl.touched && passCtrl.errors?.['required']">
        Password is required
      </p>

      <p class="error" *ngIf="passCtrl.touched && passCtrl.errors?.['minlength']">
        Password must be at least 6 characters
      </p>
    </div>

    <!-- Confirm -->
    <div class="form-group">
      <label>Confirm Password <span class="required">*</span></label>

      <input 
        type="password"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        required
        #confirmCtrl="ngModel"
      />

      <p class="error" *ngIf="confirmCtrl.touched && confirmCtrl.errors?.['required']">
        Confirm password is required
      </p>

      <p class="error" *ngIf="confirmCtrl.touched && confirmPassword !== password">
        Passwords do not match
      </p>
    </div>

    <!-- GLOBAL ERRORS -->
    
   

    <button type="submit" class="save-btn" [disabled]="regForm.invalid">
      Register
    </button>

       <!-- LOGIN LINK -->
    <p class="login-link">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>

  </form>
</div>
</div>