<div class="form-container">

  <h2>Create Project</h2>

  <form #form="ngForm" (ngSubmit)="save(form)">

    <!-- PROJECT NAME -->
    <div class="form-group">
      <label>Project Name <span class="required">*</span></label>

      <input
        type="text"
        class="form-input"
        name="name"
        [(ngModel)]="model.name"
        required
        minlength="2"
        maxlength="50"
        #nameRef="ngModel"
        (blur)="trimName()"
      />

      <span class="error" *ngIf="nameRef.touched && nameRef.invalid">
        Project name is required (minimum 2 characters)
      </span>
    </div>

    <!-- DESCRIPTION -->
   <div class="form-group">
  <label>Description <span class="required">*</span></label>

  <input
    type="text"
    class="form-input"
    name="description"
    [(ngModel)]="model.description"
    required
    minlength="10"
    #descriptionRef="ngModel"
  />

  <span class="error" *ngIf="descriptionRef.touched && descriptionRef.errors">

    <span *ngIf="descriptionRef.errors['required']">
      Description is required
    </span>

    <span *ngIf="descriptionRef.errors['minlength']">
      Description must be at least 10 characters
    </span>

  </span>
</div>


    <!-- START DATE -->
    <div class="form-group">
      <label>Start Date <span class="required">*</span></label>

      <input
        type="date"
        class="form-input"
        name="startDate"
        [(ngModel)]="model.startDate"
        required
        #startDateRef="ngModel"
      />

      <span class="error" *ngIf="startDateRef.touched && startDateRef.invalid">
        Start date is required
      </span>
    </div>

    <!-- END DATE -->
    <div class="form-group">
      <label>End Date <span class="required">*</span></label>

      <input
        type="date"
        class="form-input"
        name="endDate"
        [(ngModel)]="model.endDate"
        required
        #endDateRef="ngModel"
      />

      <span class="error"
            *ngIf="endDateRef.touched && (endDateRef.invalid || !isEndDateValid())">
        End date must be after start date
      </span>
    </div>

    <!-- SUBMIT -->
    <button
      type="submit"
      class="save-btn"
      [disabled]="saving || !isEndDateValid()">
      {{ saving ? 'Saving...' : 'Save Project' }}
    </button>

  </form>

</div>
