.forbidden-container {
  text-align: center;
  margin-top: 80px;
}

.forbidden-container h1 {
  font-size: 42px;
  color: #e11d48;
  font-weight: 700;
}

.forbidden-container p {
  color: #6b7280;
  font-size: 18px;
  margin: 14px 0;
}

button {
  background: #374151;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}
button:hover {
  background: #1f2937;
}
