<ng-container *hasPermission="'employee.create'">
  <div class="form-container">

    <h2>Create Employee</h2>

    <form #form="ngForm" (ngSubmit)="save(form)">

      <!-- Full Name -->
      <!-- FULL NAME -->
<div class="form-group">
  <label>Full Name <span class="required">*</span></label>

  <input 
    type="text"
    class="form-input"
    name="fullName"
    [(ngModel)]="employee.fullName"
    required
    minlength="3"
    maxlength="30"
    #fullName="ngModel"
    (blur)="employee.fullName = employee.fullName.trim(); fullName.control.markAsTouched()" 
  />

  <span class="error" *ngIf="fullName.touched && fullName.errors">

    <span *ngIf="fullName.errors['required']">
      Full Name is required
    </span>

    <span *ngIf="fullName.errors['minlength']">
      Minimum 3 characters required
    </span>

    <span *ngIf="fullName.errors['maxlength']">
      Maximum 30 characters allowed
    </span>

  </span>
</div>


<!-- EMAIL -->
<div class="form-group">
  <label>Email <span class="required">*</span></label>

  <input 
    type="email"
    class="form-input"
    name="email"
    [(ngModel)]="employee.email"
    required
    email
    #email="ngModel"
    (blur)="employee.email = employee.email.trim(); email.control.markAsTouched()" 
  />

  <span class="error" *ngIf="email.touched && email.errors">

    <span *ngIf="email.errors['required']">
      Email is required
    </span>

    <span *ngIf="email.errors['email']">
      Invalid email address
    </span>

  </span>
</div>


      <!-- Salary -->
      <div class="form-group">
        <label>Salary <span class="required">*</span></label>
        <input type="number" class="form-input" name="salary" [(ngModel)]="employee.salary" min="1" #salary="ngModel"
          required />

        <span class="error" *ngIf="salary.invalid && salary.touched">
          <span *ngIf="salary.errors?.['required']">Salary is required</span>
          <span *ngIf="salary.errors?.['min']">Salary cannot be less than 1</span>
        </span>
      </div>

      <!-- Date Joined -->
      <div class="form-group">
        <label>Joined On <span class="required">*</span></label>
        <input type="date" class="form-input" name="joinedOn" [(ngModel)]="employee.joinedOn" [max]="today"
          #joinedOn="ngModel" required />

        <span class="error" *ngIf="joinedOn.invalid && joinedOn.touched">
          <span *ngIf="joinedOn.errors?.['required']">Joining date is required</span>
          <span *ngIf="joinedOn.errors?.['max']">Date cannot be in the future</span>
        </span>
      </div>

      <!-- Department -->
      <div class="form-group">
        <label>Department <span class="required">*</span></label>
        <select name="departmentId" [(ngModel)]="employee.departmentId" #departmentId="ngModel" required>

          <option value="0">Select Department</option>
          <option *ngFor="let dept of departments" [value]="dept.id">
            {{ dept.name }}
          </option>
        </select>

        <span class="error" *ngIf="departmentId.value==0 && departmentId.touched">
          Department is required
        </span>
      </div>

      <!-- Skills -->
      <div class="form-group">
        <label>Skills <span class="required">*</span></label>

        <div class="skills-box" (blur)="validateSkills()" tabindex="0">

          <div class="skill-item" *ngFor="let skill of skills">
            <input type="checkbox" [value]="skill.id" [checked]="employee.skillIds.includes(skill.id)"
              (change)="toggleSkill(skill.id, $event)" />

            <span>{{ skill.name }}</span>
          </div>

        </div>

        <div class="error"
     *ngIf="(skillsTouched || form.submitted) && employee.skillIds.length === 0">
  Please select at least 1 skill
</div>




      </div>
      
      <!-- Bottom Error -->
      <div class="error-last">{{ error }}</div>

      <!-- Submit -->
      <button type="submit" class="save-btn">Save Employee</button>

    </form>

  </div>
</ng-container>