.form-container {
  background: #fff;
  padding: 25px;
  width: 430px;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.12);
}

h2 {
  margin-bottom: 15px;
  font-weight: 600;
  text-align: center;
}

label {
  font-weight: 500;
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.save-btn {
  width: 100%;
  background: #374151;
  padding: 10px;
  color: white;
  border-radius: 6px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
}

.save-btn:hover {
  background: #374151;
}

/* Mobile Responsive */
@media(max-width: 500px) {
  .form-container {
    width: 95%;
    padding: 20px;
  }
}
