<div class="department-container">

  <!-- Header -->
  <div class="header-row">
    <h2>Projects</h2>

    <div class="header-actions">
      <input
        type="text"
        class="search-input"
        placeholder="Search projects..."
        [(ngModel)]="search"
        (input)="searchProjects()" />

      <button class="add-btn" (click)="goToCreate()" *hasPermission="'project.create'">
        + Add Project
      </button>
    </div>
  </div>

  <!-- Table -->
  <div class="table-wrapper">
    <table class="department-table">

      <thead>
        <tr>
          <th>#</th>
          <th>Project Name</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th *ngIf="isAdmin">Created By</th>
          <th class="actions-header" *ngIf="hasAnyActionPermission()">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of projects; let i = index">

          <td>{{ (page - 1) * pageSize + i + 1 }}</td>
          <td>{{ p.name }}</td>
          <td>{{ p.description }}</td>
          <td>{{ p.startDate | date:'dd-MM-yyyy' }}</td>
          <td>{{ p.endDate |  date:'dd-MM-yyyy' }}</td>
          <td *ngIf="isAdmin">{{ p.createdBy }}</td>
          <!-- ICON ACTIONS -->
          <td class="action-buttons" *ngIf="hasAnyActionPermission()">

            <!-- EDIT ICON -->
            <button
              type="button"
              class="icon-btn edit"
              title="Edit"
              (click)="goToEdit(p.id)" *hasPermission="'project.edit'">
              <i class="bi bi-pencil"></i>
            </button>

            <!-- DELETE ICON -->
            <button
              type="button"
              class="icon-btn delete"
              title="Delete"
              (click)="delete(p.id)" *hasPermission="'project.delete'">
              <i class="bi bi-trash" ></i>
            </button>

          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <!-- No Data -->
  <p class="no-data" *ngIf="projects.length === 0">
    No projects found
  </p>

  <!-- Pagination -->
  <div class="pagination">
  <button
    [disabled]="page === 1"
    (click)="prevPage()">
    Prev
  </button>

  <span>
    Page {{ page }} of {{ totalPages }}
  </span>

  <button
    [disabled]="page === totalPages"
    (click)="nextPage()">
    Next
  </button>
</div>

</div>
